<!DOCTYPE html>
<head>
  {{> head}}
    <link rel="stylesheet" type="text/css" href="./dist/css/style.css">
    <link href="//cdn.bootcss.com/shepherd/1.8.0/css/shepherd-theme-default.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/css/tether.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shepherd/1.8.0/js/shepherd.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  {{>header}}
  {{> start}}
      <div id="top">
        <div class="ui bulleted list">
          <div class="item">資料來源為<a href="http://www.aac.moj.gov.tw/mp289.html">法務部廉政署</a></div>
        </div>
        <div class="intro">
          公務員貪瀆情況反映政府清廉程度，
          2011年廉政署的成立就是為了防止降低貪瀆犯罪的發生，打擊貪腐。
          <br/>
          此視覺化圖表以2017年期間各地檢署起訴之貪瀆案件，共計297人次，
          包含各種<span class="bold">性別、涉案類別、職務層級及犯罪時之服務機關</span>，
          呈現其相互關聯及比例。
        </div>
      </div>
    <div>

      <div class="select mainItem">
        <label for="mainItem">選擇主類別：</label>
        <select id="mainItem" class="selectItem">
          <option value="性別">性別</option>
          <option value="涉案類別">涉案類別</option>
          <option value="職務層級">職務層級</option>
          <option value="犯罪時服務機關">犯罪時服務機關</option>
        </select>
      </div>
      <div class="select subItem">
        <label for="subItem">選擇次類別：</label>
        <select id="subItem" class="selectItem">
          <option value="性別">性別</option>
          <option value="涉案類別" selected>涉案類別</option>
          <option value="職務層級">職務層級</option>
          <option value="犯罪時服務機關">犯罪時服務機關</option>
        </select>
      </div>
      <div id="vis">
      </div>
      
      <div class="ui divider"></div>
      <h1 class="ui block header">
        圖表說明
      </h1>
      <div class="intro">
      統計資料說明：<br/>
      <div class="ui ordered list">
      <div class="item">
        本圖表統計資料係以各地檢署（不含最高法院檢察署特別偵查組）檢察官偵辦
      貪瀆案件，法務部統計處於104年1-12月結案之起訴書為基準，故包含其他期間起訴，
      惟於104年1-12月開始併其他追加起訴案件結案之相關起訴書。
      </div>
      <div class="item">
      本圖表統計資料係依起訴書歸類涉案類別，該起訴書所列之起訴公務員人數均歸類為
      該涉案類別，例如起訴書經研判涉案類別，例如起訴書經研判涉案類別為「關務」類，
      其涉案人員如非屬財政部關務署。亦會含括至此類別，因此涉案類別並不等同於機關別。
      </div>
      <div class="item">
      涉案人次係以該起訴書起訴人數為主，如2份不同起訴書起訴同一人，以2人次計算。
      </div>
      </div>
      <div id="content">
        <div class="ui top attached tabular menu">
          <a class="active item" data-tab="性別">性別</a>
          <a class="item" data-tab="涉案類別">涉案類別</a>
          <a class="item" data-tab="服務機關">服務機關</a>
          <a class="item" data-tab="職務層級">職務層級</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="性別">
            <div class="intro">
              2015年公務員性別的比例約為男女各半（男性26萬4,261人，女性26萬1,959人，
              行政院人事行政總處2015年第 4季統計資料），從本圖表中可發現
              ，男性人數為264人，女性為33人，男性的比例趨近9成。
            <div>

              <img src="./dist/img/MF.png"/>
            </div>

            以男性與涉案類別、犯罪時服務機關、職務層級中，三者的交互關係呈現如下：<br/>
            <ul>
              <li>
                【男性 vs 涉案類別】：人次最高的涉案類別為<span class="bold">警政</span>
              </li>
              <li>
                【男性 vs 犯罪時服務機關】：人次最高的犯罪時服務機關為<span class="bold">地方行政機關</span>
              </li>
              <li>
                【男性 vs 職務層級】：人次最高的職務層級為<span class="bold">中層委任</span>
              </li>
            </ul>
            <div>

              <img src="./dist/img/male1.png"/>
              <img src="./dist/img/male2.png"/>
              <img src="./dist/img/male3.png"/>
            </div>

            女性則為:<br/>
            <ul>
              <li>
                【女性 vs 涉案類別】：人次最高的涉案類別為<span class="bold">行政</span>，佔了<span class="red bold">42</span>%
              </li>
              <li>
                【女性 vs 犯罪時服務機關】：人次最高的犯罪時服務機關為<span class="bold">地方行政機關</span>
              </li>
              <li>
                【女性 vs 職務層級】：人次最高的職務層級為<span class="bold">中層薦任</span>
              </li>
            </ul>
            <div>

              <img src="./dist/img/female1.png"/>
              <img src="./dist/img/female2.png"/>
              <img src="./dist/img/female3.png"/>
            </div>

          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="涉案類別">
            <div class="intro">
            涉案類別中營建、警政、行政各佔了<span class="red">1</span>成以上的比例，是較多的類型，有部分類型是只有男性人員，例如國營事業、外交事務等。
            <br />
            <div>

              <img  src="./dist/img/type1.png"/>
              <img  src="./dist/img/type2.png"/>
              <img  src="./dist/img/type3.png"/>
            </div>
            以最多的營建類來看:<br/>
            <ul>
              <li>
                【營建 vs 性別】：人次最高的性別為<span class="bold">男性</span>，佔了<span class="red bold">95</span>%
              </li>
              <li>
                【營建 vs 犯罪時服務機關】：人次最高的服務機關為<span class="bold">地方行政機關</span>，佔了<span class="red bold">86</span>%
              </li>
              <li>
                【營建 vs 職務層級】：人次最高的職務層級為<span class="bold">中層薦任</span>
              </li>
            </ul>
            <div>

              <img  src="./dist/img/type4.png"/>
              <img  src="./dist/img/type5.png"/>
              <img  src="./dist/img/type6.png"/>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="職務層級">
            <div class="intro">
            公務人員官職等主要可分為：委任一職等至委任五職等、薦任六職等至九職等、簡任十職等至簡任十四職等，
            本圖表統計包含簡任、薦任、委任或相當層級的公務員。從本圖表中可發現，
            中層薦任及基層委任共佔了7成比例。
            <br />
            <div>

              <img  src="./dist/img/level1.png"/>
              <img  src="./dist/img/level2.png"/>
            </div>
            以最多的中層薦任來看:<br/>
            <ul>
              <li>
                【中層薦任 vs 性別】：人次最高的性別為<span class="bold">男性</span>
              </li>
              <li>
                【中層薦任 vs 涉案類別】：人次最高的涉案類別為<span class="bold">營建</span>
              </li>
              <li>
                【中層薦任 vs 犯罪時服務機關】：人次最高的服務機關為<span class="bold">地方行政機關</span>
              </li>
            </ul>
            <div>

              <img  src="./dist/img/level4.png"/>
              <img  src="./dist/img/level5.png"/>
              <img  src="./dist/img/level6.png"/>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="服務機關">
          <div class="intro">
            犯罪時服務機關則以地方行政機關為最多。
            <br />
            <div>

              <img src="./dist/img/service1.png"/>
            </div>
            以最多的地方行政來看:<br/>
            <ul>
              <li>
                【地方行政機關 vs 性別】：人次最高的性別為<span class="bold">男性</span>
              </li>
              <li>
                【地方行政機關 vs 涉案類別】：人次最高的涉案類別為<span class="bold">警政</span>
              </li>
              <li>
                【地方行政機關 vs 職務層級】：人次最高的職務層級為<span class="bold">中層薦任和基層委任</span>
              </li>
            </ul>
            <div>

              <img  src="./dist/img/service4.png"/>
              <img  src="./dist/img/service5.png"/>
              <img  src="./dist/img/service6.png"/>
            </div>
          </div>
        </div>
      </div>

    </div>

  {{> end}}
    <script src="./dist/js/index.min.js"></script>
  {{> footer}}
</body>
